# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# =========================
# Ambientes virtuais
# =========================
venv/
.env/
.venv/

# =========================
# Streamlit
# =========================
.streamlit/
*.log

# =========================
# Dados locais (NÃO subir)
# =========================
data/*.json

# =========================
# IDEs / Editores
# =========================
.vscode/
.idea/
*.iml

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db
